*{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}


body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
   background-image: url("https://img.freepik.com/premium-photo/interior-hall-theater-cinema-view-stage-generative-ai_116124-18929.jpg");
   background-repeat: no-repeat;
   background-size: cover;

}
/* .container {
     max-width: 600px;
      margin: auto;
      font-family: "Grechen Fuemen", serif;
      font-weight: bold;
      font-style: normal;
      font-size: 30px;
      color: white;
      
    
    }
.seat-map { 
    display: flex; 
    flex-direction: column; 
    
    gap: 5px;
 }
.row { 
    display: flex;
     gap: 5px; 
     justify-content: center;
    
    }
.seat { 
    width: 30px;
     height: 30px;
      background: rgb(5, 5, 9);
       cursor: pointer;
     }
.seat.selected {
     background: yellow; 
    } */
/* button { 
    margin-top: 10px;
     padding: 10px;
      cursor: pointer;
      font-family: "Grechen Fuemen", serif;
      font-weight: bold;
      font-style: normal;
      font-size: 40px;
      color:black;
      
    
    } */

#h{
    font-family: "Grechen Fuemen", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  color: white;
  margin-top: 30px;
  
}
#h span{
color: yellow;
}

#img{
    height: 85vh;
    /* display: flex; */
    width: 30%;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-image: url("https://watermark.lovepik.com/photo/40010/8993.jpg_wh1200.jpg"); */
    background-color: rgb(2, 2, 45);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 30px;
    margin-top: 4%;
    margin-left: 35%;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgb(2, 2, 18);

}
#pp{
    color:white;
    
    font-family: "Grechen Fuemen", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
  /* background-color: purple; */
}
#sub{
width: 40%;
height: 30%;
font-size: 25px;
font-family: "Grechen Fuemen", serif;
  font-weight: bold;
  font-style: normal;
  color: white;
  background-color: palevioletred;
  border-radius: 10px;



}
input{
  width: 40%;
  border-radius: 10px;
  padding: 4px;
}
