*{
    margin: 0px;
    /* overflow: hidden; */
    padding: 0px;
    box-sizing: border-box;
}
body{
  background-color: rgb(13, 13, 33);
}
#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* position: absolute; */
   background-color: rgb(2, 2, 18);
    width: 100%;
    
    
}

#home{
    width: 100%;
    height: 80px;
    display: flex;
    gap: 300px;
}

html{
  scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    text-decoration: none;
    list-style: none;

}
nav li a{
    text-decoration: none;
    font-size: 30px;
    color: white;

    
    font-family: "Grechen Fuemen", serif;
    font-weight: bold;
    font-style: normal;

}
#navv{
    
    
    
        font-family: "Grechen Fuemen", serif;
        font-weight: bold;
        font-style: normal;
        margin-left: 50px;
        /* margin-top: 20px; */
        font-size: 60px;
        color: white;
      
      
      
}
#navv span{
    color: yellow;
}

#img{
    color:yellow;
}
nav li a:hover{
    color: yellow;
    text-decoration: underline;
}


body {
  position: relative;
  height: 100%;
  
}

body {
  background: rgb(13, 13, 33);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:rgb(2, 2, 18);
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 80vh;
  /* animation: zoomInOut 6s ease-in-out forwards infinite; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: rgb(212, 204, 204); */
  background-size: cover;
  background-repeat: no-repeat;
  
  
}

.swiper-slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  
}
#one{
  background-image: url("https://images.hdqwalls.com/download/wish-4r-2560x1440.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#two{
  background-image: url("https://wallpaperaccess.com/full/2594851.jpg");
}
#three{
  background-image: url("https://static.toiimg.com/photo/65144713.cms");
}
#four{
  background-image: url("https://c4.wallpaperflare.com/wallpaper/106/873/197/horror-keep-telling-yourself-ouija-it-s-just-a-game-wallpaper-preview.jpg");
}
#five{
  background-image: url("https://i.ytimg.com/vi/094EISO9CnU/maxresdefault.jpg");
}
#six{
  background-image: url("https://th.bing.com/th/id/OIP.U98YG_jZbSHt_Qikf7O_UgHaEK?rs=1&pid=ImgDetMain");
}
#saven{
  background-image: url("https://hdqwalls.com/wallpapers/the-jungle-book-hd.jpg");
}
#eight{
  background-image: url("https://th.bing.com/th/id/OIP.q8rvzuFwkP3XaOIAP8DYywHaEK?w=1536&h=864&rs=1&pid=ImgDetMain");
}
#nine{
  background-image: url("https://www.themoviedb.org/t/p/original/jYryspBuu5DTxkr9qI5bG4SnDub.jpg");
}
button{
  font-size: 15px;
  /* font-style: italic; */
  background-color: white;
  color:rgb(2, 2, 18);
  margin-right: 70%;
  margin-top: 25%;
  border-radius: 10%;
  height: 6vh;
  width: 7%;
  font-weight: bold;
 
}
button :hover{
  background-color:rgb(2, 2, 18) ;
  /* color: white; */
  
 
}
a:hover{
color: white;
/* background-color:rgb(2, 2, 18); */



}
button a{
  text-decoration: none;
  color:rgb(2, 2, 18);
}

/* second section */
#sec{
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Grechen Fuemen", serif;
  font-weight: bold;
  font-style: normal;
  background-color:  rgb(2, 2, 18) ;
  color: white;
  height: 15vh;
  font-size: 20px;
}
#sec span{
  color: yellow;
}


 .swiper1 {
  width: 100%;
  height: 70vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

 #bb{
  
  position: relative;
  font-size: 10px;
  /* margin-top: 520%; */
  /* height: 20vh; */
  width: 60px;
  margin-top: 140%;
  /* margin-left: 20%; */
  font-weight: bold;
  
} 

/*.swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

/* .swiper-slide3 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}  */



#if img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

/* Hover Effect - Zoom Image */
#if:hover img {
  transform: scale(2.0);
}

/* third section */

#head{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Grechen Fuemen", serif;
  font-weight: bold;
  font-style: normal;
  background-color:  rgb(2, 2, 18) ;
  color: yellow;
  height: 15vh;
  font-size: 20px;
}
#head span{
  color: white;
}

#mainn{
  /* height: 80vh; */
  width: 100%;
  /* background-image: url("https://www.shutterstock.com/shutterstock/videos/33621025/thumb/1.jpg?ip=x480"); */
  background-color: rgb(13, 13, 33);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#CS{
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 50%;
  margin-left: 15px;
  opacity: 0; /* Initially hidden */
 animation: zoomInOut 2s ease-in-out forwards ;
}
@keyframes zoomInOut {
  0% {
      opacity: 0;
      transform: scale(0.5);
  }
  50% {
      opacity: 1;
      transform: scale(1.2);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

/* Delay for images to appear one by one */
#CS:nth-child(1) { animation-delay: 0s; }
#CS:nth-child(2) { animation-delay: 2.5s; }
#CS:nth-child(3) { animation-delay: 3s; }
#CS:nth-child(4) { animation-delay: 3.5s; }
#CS:nth-child(5) { animation-delay: 4s; }



/* fourth section */

#fsec{
  width: 100%;
  height: 15vh;
  background-color:rgb(2, 2, 18);
  font-family: "Grechen Fuemen", serif;
  font-weight: bold;
  font-style: normal;
  color: white;
  font-size: 20px;
  justify-content: center;
  display: flex;
  align-items: center;

}
#fosec span{
  color: yellow;
  
}
#ff{
  /* height: 90vh; */
  width: 100%;
  display: flex;
  gap: 10px;
  

}
#o{
  width: 30%;
  height: 40vh;
  margin-left: 20px;
  display: flex;
  /* border: 1px solid white; */

  background-image: url("offers.jpg");
  background-size: 400px 150px;
  background-repeat: no-repeat;
  background-color: white;
  

}
#n{
  width: 30%;
  height: 40vh;
  background-size: 370px 150px;
  background-color: white;
  background-repeat: no-repeat;

  background-image: url("offers2.jpg");
  display: flex;
      /* border: 1px solid white; */
}
#e{
  width: 30%;
  height: 40vh;
  background-size:  400px 150px;
  background-repeat: no-repeat;
  background-color: white;
  background-image: url("offers3.jpg");
  display: flex;
  /* border: 1px solid white; */
}
#t{
  width: 30%;
  height: 40vh;
  margin-right: 20px;
  display: flex;
  /* border: 1px solid white; */
  background-image: url("offers4.jpg");
  background-size:  400px 150px;
  background-repeat: no-repeat;
  background-color: white;

}
#ff p{
  color: black;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
 



}

#v{
  margin-top: 38%;
  /* background-color: yellow; */
  height: 5vh;
  width: 18%;
  margin-right: 10%;
}
.bb{
  background-color: yellow;
  width: 100%;

}
.b1{
margin-top: 150%;
/* margin-right: 50%; */
width: 150%;
border-radius: 10px;

}
.b2{
  margin-top: 180%;
  width: 165%;
  border-radius: 10px;
}
.b3{
  margin-top: 130%;
  width: 120%;
  border-radius: 10px;
}
.b4{
  margin-top: 130%;
  width: 115%;
  margin-left: 170%;
  border-radius: 10px;
}





/* footer */

footer {
  background-color: rgb(2, 2, 18);
  color: white;
  text-align: center;
  padding: 20px 0;
  height: 30vh;
}
.footer-logo{
  font-family: "Grechen Fuemen", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  
}
.footer-logo span{
  color: yellow;
}
.footer-container {
  max-width: 1200px;
  margin: auto;
}
.footer-links a, .footer-social a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 25px;
  /* font-family: "Grechen Fuemen", serif; */
  /* font-weight: bold; */
  font-style: normal;


}
.footer-social a i {
  font-size: 25px;
}
.footer-links a:hover, .footer-social a:hover {
  color: yellow;
}
.footer-copy{
  font-family: "Grechen Fuemen", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
}
.swiper-slide a{
  /* .swiper-slide a { */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* z-index: 10; */
    display: block;
/* } */
  
}
.swiper-slide {
  position: relative;
  overflow: hidden;
}

/* .swiper-slide img {
  transition: transform 0.3s ease-in-out;
} */


.fa-heart{
  position: absolute;
  font-size: 30px;
  background-color: white;
  color: purple;
  cursor: pointer;
}
#CS iframe{
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 300px;
  height: 200px;
  border: 2px solid #000;
  z-index: 10;
}
#CS:hover iframe{
  display: block;
}
.swiper-slide {
  position: relative;
  overflow: hidden;
}




@media (max-width: 420px) {


#CS img {
   display: flex; 
  flex-direction: column;


  
}
#mainn{
display: flex;
flex-direction: column;
display: block;

}

#top {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  /* position: absolute; */
 background-color: rgb(2, 2, 18);
  /* width: 100%; */
  
  
}

#home{
  width: 20%;
  height: 95px;
  display: flex;
  /* gap: 300px; */
  justify-content: start;
}


nav{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  /* gap: 90px; */
  text-decoration: none;
  list-style: none;
  position: absolute;
  left: 7%;
  top: 2.5%;
  

}
nav li a{
  text-decoration: none;
  font-size: 20px;
  color: white;

  
  font-family: "Grechen Fuemen", serif;
  font-weight: bold;
  font-style: normal;

}

#navv{
    
    
    
  font-family: "Grechen Fuemen", serif;
  font-weight: bold;
  font-style: normal;
  /* margin-left: 50px; */
  /* margin-top: 20px; */
  font-size: 30px;
  color: white;
  margin: 0px;
  display: flex;
justify-content: center;
align-items: center;
margin-left: 150px;
margin-bottom: 60px;



}

#CS{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 50px;
  margin-top: 20px;
}
#head{
  width:82% ;
}
#sec{
  width: 82%;
  font-size: 15px;
}
.swiper1{
  width: 70%;
  margin-left: 6%;
  /* margin-right: 6%; */
}
.swiper-slide img{
  width: 70%;
  height: 75%;
}
.swiper{
  width: 82%;
  position: fixed;
}
#fsec{
  width: 82%;
}
#ff{
  display: flex;
  flex-direction: column;
  width: 80%;
}

}

