body { font-family:
     Arial, sans-serif;
      text-align: center;
      background-color: rgb(10, 11, 27);
      
     }
.container {
     max-width: 600px;
      margin: auto;
      color: white;
     }
.seat-map {
     display: flex; 
     flex-direction: column;
      gap: 5px; }
.row {
     display: flex; 
     gap: 5px;
      justify-content: center; 
    }
.seat { 
    width: 30px;
     height: 30px; 
     background: gray; 
     cursor: pointer;
     }
.seat.selected {
     background: green; 
    }
button { 
    
    margin-top: 10px; 
    padding: 10px;
     cursor: pointer; }